/1-Suma/nbproject/private/
/1-Suma/build/
/2-DivisionOperadores/nbproject/private/
/2-DivisionOperadores/build/
/3-CondicionalIfelse/nbproject/private/
/4-calculadoraIfElseIf/nbproject/private/
/5-EntradaDeDatosScanner/nbproject/private/
/6-SistemaControlVacacional/nbproject/private/
/6-SistemaControlVacacional/build/
/7-Switch-Case/nbproject/private/
/7-Switch-Case/build/
/EstructuraRepetitivaFor/nbproject/private/
/8-EstructuraRepetitivaFor/nbproject/private/
/8-EstructuraRepetitivaFor/build/
/9-EstructuraRepetitivaWhile/nbproject/private/
/9-EstructuraRepetitivaWhile/build/
/1.0-EstructuraRepetitivaDoWhile/nbproject/private/
/10-JKLDJSLKD/nbproject/private/
/10JDKLASJDSAJDL/nbproject/private/
/-10-EstructuraRepetitivaDoWhile/nbproject/private/
/Desimo-EstructuraRepetitivaDoWhile/nbproject/private/
/Desimo-EstructuraRepetitivaDoWhile/build/
/Once-EjerciciosForWhileDoWhile/nbproject/private/
/Once-EjerciciosForWhileDoWhile/build/
/Once-Ejercicios1ForWhileDoWhile/nbproject/private/
/Once-Ejercicios1ForWhileDoWhile/build/